<template>
    <div>
      <vue-chart
            :columns="columns"
            :rows="rows"
            :options="options"
        ></vue-chart>
    </div>

</template>

<script>
import Moment from 'moment';
import UserService from '../user-service';

export default {
  name: 'Exchange-history',
  props: ['currency'],
  data() {
    return {
      userService: UserService,
      columns: [],
      rows: [],
      options: {
          title: `Evolution prix ${this.currency}`,
          hAxis: {
              title: 'Dates',
          },
          
          width: 1400,
          height: 700,
          curveType: 'function'
      },
    };
  },
  created() {
    const currentDate = Moment().valueOf();
    const fromDate = Moment().add(-1, 'days').valueOf();
    this.$http.get(`/api/exchanges/${this.currency}?start=${fromDate}&end=${currentDate}`)
    .then(response => response.json())
    .then((histories) => {
      this.columns = histories[0].markets.reduce((cols, market) => {
        cols.push({
          'type': 'number',
          'label': market.marketName,
        });
        return cols;
      }, [{
        'type': 'string',
        'label': 'date'
      }]);

      this.rows = histories.reduce((result, history) => {
        const date = new Date(history.timestamp);
        const d = Moment(date).format('HH:mm');
        const r = [d];
        this.columns.slice(1).forEach((col) => {
          const market = history.markets.find((market) => market.marketName === col.label);
          r.push(market ? Number(market.price): null);
        });
        result.push(r);
        return result;
      }, []);
    });
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
