<template>
  <div class="game">
    <div>
      <WalletBTC :account="accountService.account" :markets="markets" v-if="markets"/>
    </div>
    <Menu></Menu>
    <div class="row align-items-center">
      <div class="offset-md-4 col-md-4 text-center">
        <h1>Bitcoin Trade Game</h1>
      </div>
      <div class="col-md-4 text-right pigs">
        <img src="../assets/satopig.png" height="20">
        <img src="../assets/satopig.png" height="40">        
        <img src="../assets/satopig.png" height="60">
        <img src="../assets/satopig.png" height="80">
        <img src="../assets/satopig.png" height="100">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <span class="header">Répartition de votre porte-feuille</span>
      </div>
    </div>
    <div class="row">
    <div v-for="(market, index) in markets" :key="market.MarketName" class="col-md-3">
      <Market :market="market" :wallet="findWallet(market)"/>
    </div>
    </div>
  </div>
</template>

<script>
import Menu from './Menu';
import Market from './Market';
import WalletBTC from './Wallet-btc';
import AccountService from '../account-service';
import MarketService from '../market-service';

export default {
  name: 'Game',
  data() {
    return {
      accountService: AccountService,
      markets: null,
    };
  },
  components: {
    Market,
    WalletBTC,
    Menu,
  },
  created() {
    Promise.all([AccountService.getAccount(), MarketService.getMarkets()])
    .then(this.completeWallets);
  },
  methods: {
    findWallet(market) {
      return this.accountService.account.wallets.find(
        w => w.currency === market.MarketName.substr(4),
      ) || {
        costing: 0,
        quantity: 0,
      };
    },
    completeWallets([, markets]) {
      const m = markets.filter(
        market => market.MarketName.indexOf('BTC-') === 0
        && market.BaseVolume > 100)
        .sort((market1, market2) => {
          const w1 = this.findWallet(market1);
          const v1 = w1.costing * w1.quantity;
          const w2 = this.findWallet(market2);
          const v2 = w2.costing * w2.quantity;
          return v2 - v1;
        });
      this.markets = m;
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.game{
  padding-top: 110px;
  background-image: url('../assets/background.jpg');
  background-repeat: repeat;
}
.header{
  font-size: 1.2rem;
  line-height: 3;
}
.pigs img{
  vertical-align: bottom;
}
.navigation a{
  margin-left: 40px;
}
</style>
