<template>
  <div class="game">
    <Menu></Menu>
    <div class="row user" v-for="account in accounts" :key="account.key">
      <h3 class="col-12">Porte monnaie de {{account.name}}</h3>
      <div v-for="market in account.markets" :key="market.MarketName" class="col-md-3">
        <Market :market="market" :wallet="findWallet(account,market)" read-only="true"/>
      </div>
    </div>
  </div>
</template>

<script>
import Menu from './Menu';
import Market from './Market';
import WalletBTC from './Wallet-btc';
import AccountService from '../account-service';
import MarketService from '../market-service';

export default {
  name: 'Gamers',
  data() {
    return {
      accountService: AccountService,
      accounts: null,
    };
  },
  components: {
    Market,
    WalletBTC,
    Menu,
  },
  created() {
    console.log('created');
    Promise.all([AccountService.getAccounts(), MarketService.getMarkets()])
    .then(this.completeWallets);
  },
  methods: {
    findWallet(account, market) {
      return account.wallets.find(
        w => w.currency === market.MarketName.substr(4) && w.quantity > 0,
      );
    },
    filterAccountMarket(account, market) {
      return market.MarketName.indexOf('BTC-') === 0
        && this.findWallet(account, market);
    },
    setMarketValue(account, market) {
      const w = this.findWallet(account, market);
      return { ...market, value: w.costing * w.quantity };
    },
    sortMarketsByValue(market1, market2) {
      return market2.value - market1.value;
    },
    completeWallets([accounts, markets]) {
      this.accounts = accounts.map((account) => {
        const m = markets.filter(market => this.filterAccountMarket(account, market))
          .map(market => this.setMarketValue(account, market))
          .sort(this.sortMarketsByValue);
        return { ...account, markets: m };
      });
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.game{
  padding-top: 30px;
  background-image: url('../assets/background.jpg');
  background-repeat: repeat;
}
.game .user{
  margin-top: 20px; 
  padding-top: 20px;
  border-top: 2px dashed grey;
}
.navigation a{
  margin-left: 40px;
}
</style>
