<template>
    <div class="home">
      <div class="row justify-content-md-center">
        <div class="col-md-12 text-center">
          <h1>Bitcoin Trade Game</h1>
        </div>
      </div>
      <div class="row justify-content-md-center enter">
        <div class="col-md-4 text-center">
          <router-link to="game" :class="['btn','btn-link']" v-if="userService.user">Entrer</router-link>
          <a href="/oauth/gplus" class="btn btn-link" v-else>Connexion</a>
        </div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col-md-12 text-center">
          Et si on élevait les cochons ensembles ?
        </div>
      </div>
    </div>
</template>

<script>
import UserService from '../user-service';

export default {
  name: 'Home',
  data() {
    return {
      userService: UserService,
    };
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1{
  margin: 30px 0;
  letter-spacing: 0.1rem;
}
.enter{
  margin: 30px 0;
}
a{
  font-size: 2.5rem;
  font-weight: bold;
}
.home {
  height: 100vh;
  background: url('../assets/background-pig.jpg');
  background-size:cover;
}
</style>
