<template>
  <div class="market container">
      <div :class="['row', 'head']">
        <div class="col-12 content">
          <div class="row">
            <div class="col-2">
              <a :href="url" target="_blank">{{ market.MarketName.substr(4) }}</a>
            </div>
            <div class="col-2">{{percent>0?'+':''}}{{percent.toFixed(2)}}%</div>
            <div class="col-8 text-right" v-if="!readOnly">
              <button type="button" @click="addSatoshi" class="btn btn-outline-info btn-sm"><i class="fa fa-plus" aria-hidden="true"></i></button>
              <button type="button" @click="removeSatoshi" class="btn btn-outline-info btn-sm"><i class="fa fa-minus" aria-hidden="true"></i></button>
              <button type="button" @click="validOrder" class="btn btn-outline-info btn-sm">Valider</button>
            </div>
          </div>
          <div class="row mt-3 headers">
            <div class="col-6">Coût d'achat :</div>
            <div class="col-6 text-right">{{bitcoinCost.toFixed(4)}} BTC <span title="cout unitaire" class="info">{{costing.toFixed(8)}}</span></div>
          </div>
          <div class="row headers">
            <div class="col-6">Valeur actuelle :</div>
            <div class="col-6 text-right">{{bitcoinValue.toFixed(4)}} BTC <span title="valeur unitaire actuelle" class="info">{{market.Last.toFixed(8)}}</span></div>
          </div>
        </div>
      </div>
      <div class="row pigs">
          <img src="../assets/satopig-cross.png" width="40" height="40" v-for="index in deadPigs" title="Cochons perdus"/>
          <img src="../assets/satopig-pink.png" width="40" height="40" v-for="index in initialPigs" title="Cochons achetés" :class="{'first': index == 1}"/>
          <img src="../assets/satopig-yellow.png" width="40" height="40" v-for="index in earnedPigs" title="Cochons gagnés"/>
          <img src="../assets/satopig-white-minus.png" width="40" height="40" v-for="index in removedPigs" title="Cochons supprimés (pensez à valider)" :class="{'first': index == 1 && initialPigs == 0}"/>
          <img src="../assets/satopig-green-plus.png" width="40" height="40" v-for="index in addedPigs" title="Cochons ajoutés (pensez à valider)"/>
      </div>
      <div class="spin" v-if="loading"><Spinner /></div>
  </div>
</template>

<script>
import AccountService from '../account-service';
import Spinner from './Spinner';

export default {
  name: 'Market',
  props: ['market', 'wallet', 'readOnly'],
  data() {
    return {
      url: `https://bittrex.com/Market/Index?MarketName=${this.market.MarketName}`,
      quantity: this.wallet.quantity || 0,
      accountService: AccountService,
      loading: false,
    };
  },
  components: {Spinner},
  computed: {
    bgColor() {
      return `bg${this.market.MarketName.charCodeAt(5) % 15}`;
    },
    bitcoinValue() {
      return this.quantity * this.market.Last;
    },
    bitcoinCost() {
      return this.quantity > this.wallet.quantity ? this.quantity * this.costing : this.wallet.quantity * this.costing;
    },
    totalPigs() {
      return Math.ceil(this.quantity * this.market.Last * 100);
    },
    walletPigs() {
      return Math.ceil(this.wallet.quantity * this.market.Last * 100);
    },
    walletEarnedPigs() {
      const last = this.market.Last;
      const costing = this.wallet.costing;
      return Math.round(Math.max((last - costing) * this.wallet.quantity * 100, 0));
    },
    addedPigs() {
      return Math.max(0, this.totalPigs - this.walletPigs);
    },
    initialPigs() {
      return Math.min(this.totalPigs, this.walletPigs - this.walletEarnedPigs);
    },
    earnedPigs() {
      const pigsLeft = Math.max(this.totalPigs - (this.walletPigs - this.walletEarnedPigs), 0);
      return Math.min(this.walletEarnedPigs, pigsLeft);
    },
    deadPigs() {
      const last = this.market.Last;
      const costing = this.wallet.costing;
      return Math.round(Math.max((costing - last) * this.wallet.quantity * 100, 0));
    },
    removedPigs() {
      return Math.max(0, this.walletPigs - this.totalPigs);
    },
    percent() {
      if (this.bitcoinCost > 0) {
        return ((this.bitcoinValue - this.bitcoinCost) / this.bitcoinCost) * 100;
      }
      return 0;
    },
    costing() {
      if (this.quantity > this.wallet.quantity) {
        const addedQuantity = this.quantity - this.wallet.quantity;
        const walletPrice = this.wallet.costing * this.wallet.quantity;
        const addedPrice = addedQuantity * this.market.Last;
        return (walletPrice + addedPrice) / this.quantity;
      }
      return this.wallet.costing;
    },
  },
  methods: {
    addSatoshi() {
      if (this.accountService.account.BTC > 0.01) {
        this.accountService.account.BTC = this.accountService.account.BTC - 0.01;
        if( this.quantity == 0 && this.wallet.quantity > 0){
          this.quantity = this.wallet.quantity % (0.01 / this.market.Last);
        } else {
          this.quantity = this.quantity + (0.01 / (Math.round(this.market.Last * 100000000) / 100000000));
        }
      }
    },
    removeSatoshi() {
      if (this.quantity > 0) {
        let quantityToRemove = 0.01 / this.market.Last;
        if (this.quantity < quantityToRemove) {
          quantityToRemove = this.quantity;
        }
        const btcRemoved = quantityToRemove * this.market.Last;
        this.accountService.account.BTC = this.accountService.account.BTC + btcRemoved;
        this.quantity = this.quantity - quantityToRemove;
      }
    },
    validOrder() {
      const invest = (this.quantity - this.wallet.quantity) * this.market.Last;
      if (invest !== 0) {
        this.loading = true;
        return this.accountService.postOrder(
          this.market.MarketName.substr(4),
          invest > 0 ? 'BUY' : 'SELL',
          Math.abs(this.quantity - this.wallet.quantity)
        ).then(() => {
          this.loading = false;
        });
      }
      return null;
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.market{
  margin-bottom: 20px;
  min-height: 300px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
  transition: all .5s ease;
  position: relative;
}
.market:hover {
    box-shadow:  0 0 1px #EDA8BD, 0 3px 16px rgba(39,44,49,.07);
    transition: all .3s ease;
    transform: translate3D(0,-1px,0);
}
.head{
  background-color: whitesmoke;
}
.head .content{
  padding-top: 16px;
  padding-bottom: 30px;
}
.pigs{
  margin: 0;
  padding-top: 14px;
  padding-bottom: 14px;
  position: relative;
}
.pigs .first{
  width: 30px;
  height: 30px;
  margin-top: 10px;
}
button{
  background-color: white;
}
button:hover{
  cursor: pointer;
}
.spin{
  background-color: rgba(39,44,49,.33);
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  display: flex;           /* establish flex container */
  flex-direction: column;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;     /* center items horizontally, in this case */
}
.info{
  color: gray;
}
.headers{
  font-size: 0.8rem;
}
</style>
