<template>
  <div class="row">
    <div class="col-12 navigation">
      <router-link to="game">Porte-monnaie</router-link>
      <router-link to="gamers">Joueurs</router-link>
      <router-link to="stats">Stats</router-link>
      <router-link to="orders">Historique des ordres</router-link>
      <router-link to="trading-plateform">Plateforme de trading</router-link>
      <router-link to="use-api">Utilisation de l'API</router-link>
      <router-link to="simulator">Simulateur</router-link>
    </div>
  </div>
</template>

<script>

export default {
  name: 'Menu',
};
</script>

<style>
.navigation a{
  margin-left: 40px;
}
</style>
