<template>
    <div>
      <Menu></Menu>
      Historique de vos ordres<br />
      <ul class="list-group">
        <li class="list-group-item">
          <div class="row head">
              <div class="col-md-1">Date</div>
              <div class="col-md-1">Sens</div>
              <div class="col-md-1">Monnaie</div>
              <div class="col-md-1">Quantité</div>
              <div class="col-md-1">Cours (BTC)</div>
              <div class="col-md-1">Coût</div>
              <div class="col-md-1">Montant</div>
              <div class="col-md-1">Gain</div>
              <div class="col-md-1">Plus-value</div>
              <div class="col-md-1">Quantité restante</div>              
              
          </div>
        </li>
        <li v-for="order in orders" v-bind:key="order._id" :class="['list-group-item', {'list-group-item-primary' : order.plusvalue > 0}, {'list-group-item-warning' : order.plusvalue < 0}]">
          <div class="row">
              <div class="col-md-1 text-right">{{order.d}}</div>
              <div class="col-md-1 text-center">{{order.s}}</div>
              <div class="col-md-1 text-center">{{order.currency}}</div>
              <div class="col-md-1 text-right">{{order.q}}</div>
              <div class="col-md-1 text-right">{{order.l}}</div>
              <div class="col-md-1 text-right">{{order.walletCosting}}</div>
              <div class="col-md-1 text-right">{{order.p}}BTC</div>
              <div class="col-md-1 text-right" v-if="order.gain">{{order.gain}}BTC</div>
              <div class="col-md-1 text-right" v-else></div>
              <div class="col-md-1 text-right" v-if="order.plusvalue">{{order.plusvalue}}%</div>
              <div class="col-md-1 text-right" v-else></div>              
              <div class="col-md-1 text-right">{{order.walletQuantity}}</div>
          </div>
        </li>
      </ul>
    </div>

</template>

<script>
import Menu from './Menu';
import Moment from 'moment';
import UserService from '../user-service';

export default {
  name: 'Orders',
  components: {Menu},
  data() {
    return {
      userService: UserService,
      orders: null,
      rows: [],
    };
  },
  created() {
    this.$http.get('/api/orders/mine')
    .then(response => response.json())
    .then((orders) => {
      const wallets = [];
      orders = orders.sort((a,b) => a.timestamp - b.timestamp)
      .map((order) => {
        order.d = Moment(order.timestamp).format('DD/MM HH:mm');
        order.q = order.quantity >= 10 ? Number(order.quantity).toFixed(2) : Number(order.quantity).toFixed(6);
        order.l = Number(order.limit).toFixed(8);
        order.s = order.orderType === 'BUY' ? 'Achat' : 'Vente';
        order.p = Number(order.price).toFixed(6);
        const wallet = wallets.find(w => w.currency == order.currency);
        if (order.orderType == 'BUY') {
          if (!wallet) {
            wallets.push({
              currency: order.currency,
              quantity: order.quantity, 
              costing: order.price / order.quantity
            });
            order.walletCosting = Number(order.price / order.quantity).toFixed(8);
            order.walletQuantity = order.quantity;
          } else {
            wallet.costing = (order.price + (wallet.costing * wallet.quantity)) / (wallet.quantity + order.quantity);
            wallet.quantity = wallet.quantity + order.quantity;
            order.walletCosting = wallet.costing.toFixed(8);
            order.walletQuantity = wallet.quantity;
          }
          
        } else {
          if (wallet && wallet.quantity >= order.quantity) {
            order.walletCosting = wallet.costing.toFixed(8);
            order.plusvalue = Number((order.limit - wallet.costing) / wallet.costing * 100).toFixed(2);
            order.gain = Number(order.quantity * (order.limit - wallet.costing)).toFixed(4);
            wallet.quantity = wallet.quantity - order.quantity;
            order.walletQuantity = wallet.quantity;
          }
        }
        return order;
      }).reverse();
      
      this.orders = orders;
    });
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
ul{
  font-size: 0.7rem;
}
.head{
  text-align: center;
}
</style>
