<template>
    <div>
      <Menu></Menu>
      <h2>Simulateurs</h2>
      <br />
      <p>Ce simulateur se positionne chaque jour sur les meilleurs progressions de la veille, et les revend le lendemain.</p>
      <form>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="periode" id="periode1" value="periode1" v-model="periode">
          <label class="form-check-label" for="periode1">
            Période de baisse du bitcoin (01/02/2018 -> 31/03/2018)
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="periode" id="periode2" value="periode2" v-model="periode">
          <label class="form-check-label" for="periode2">
            Période de légère hausse du bitcoin (01/02/2017 -> 31/03/2017)
          </label>
        </div>
        <div class="form-check disabled">
          <input class="form-check-input" type="radio" name="periode" id="periode3" value="periode3" v-model="periode">
          <label class="form-check-label" for="periode3">
            Période d'envolée du bitcoin (01/10/2017 -> 30/11/2017)
          </label>
        </div>
        <div class="form-check disabled">
          <input class="form-check-input" type="radio" name="periode" id="periode4" value="periode4" v-model="periode">
          <label class="form-check-label" for="periode4">
            environ les 2 dernières années (01/05/2016 -> 31/03/2018)
          </label>
        </div>
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-4 col-form-label">Parmi les meilleurs progressions prendre du numéro </label>
          <div class="col-sm-2">
            <input type="number" class="form-control" placeholder="1" v-model="gainerFrom">
          </div>
          <label for="staticEmail" class="col-sm-2 col-form-label">jusqu'au numéro </label>
          <div class="col-sm-2">
            <input type="number" class="form-control" placeholder="5" v-model="gainerTo">
          </div>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="reverse" v-model="reverse">
          <label class="form-check-label" for="reverse">Inverser (suivre les plus mauvaises progressions au lieu des meilleurs)</label>
        </div>
        <div class="m-2">
          <button type="button" @click="followgainers" class="btn btn-outline-info btn-sm">Simuler</button>
        </div>
      </form>
      <div v-if="snapshots">
        <vue-chart
              :columns="columns"
              :rows="rows"
              :options="options"
          ></vue-chart>
        <div class="row detail">
          <div v-for="snapshot in snapshots" v-bind:key="snapshot.time" class="col-md-4">
            <div class="shadow p-3 mb-5 bg-white rounded">
              {{dateSnapshot(snapshot.time)}}<br />
              Estimated value : {{snapshot.estimatedValue}} <br />
              BTC : {{snapshot.btc}}<br />
              <table class="table">
                <tr v-for="wallet in snapshot.wallets" v-bind:key="wallet.sym">
                  <td>{{wallet.sym}}</td>
                  <td>{{wallet.quantity}}</td>              
                  <td>{{wallet.price}}</td>
                </tr>
              </table>
              <ul lass="list-group">
                <li v-for="log in snapshot.logs" v-bind:key="log" class="list-group-item">
                  {{log}}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
import Vue from 'vue';
import Menu from './Menu';
import Moment from 'moment';
import UserService from '../user-service';

export default {
  name: 'Simulator',
  components: {Menu},
  data() {
    return {
      userService: UserService,
      snapshots: null,
      columns: [],
      rows: [],
      options: {
        title: 'Performance du scénario',
        hAxis: {
            title: 'Dates',
        },
        
        width: 1400,
        height: 700,
        curveType: 'function'
      },
      periode: null,
      gainerFrom: 1,
      gainerTo: 5,
      reverse: false,
    };
  },
  created() {
    //this.followgainers();
  },
  methods: {
    followgainers() {
      let start = Moment.utc('02/01/2018').startOf('day').unix();
      let end = Moment.utc('03/31/2018').startOf('day').unix();
      if ( this.periode === 'periode2' ) {
        start = Moment.utc('02/01/2017').startOf('day').unix();
        end = Moment.utc('03/31/2017').startOf('day').unix();
      } else if ( this.periode === 'periode3' ) {
        start = Moment.utc('10/01/2017').startOf('day').unix();
        end = Moment.utc('11/30/2017').startOf('day').unix();
      } else if ( this.periode === 'periode4' ) {
        start = Moment.utc('05/01/2016').startOf('day').unix();
        end = Moment.utc('03/31/2018').startOf('day').unix();
      }
      Vue.http.get(`/api/simulator/follow-gainers?start=${start}&end=${end}&gainerFrom=${this.gainerFrom}&gainerTo=${this.gainerTo}&reverse=${this.reverse}`)
      .then(response => response.json())
      .then((snapshots) => {
        const rows = snapshots.map((snapshot) => {
          return [
            Moment.unix((snapshot.time)).format('DD/MM/YYYY'),
            snapshot.estimatedValue
          ]
        });
        this.columns = [{
          'type': 'string',
          'label': 'date'
        },
        {
          'type': 'number',
          'label': 'BTC value'
        }
        ];
        
        this.rows = rows;
        this.snapshots = snapshots;
      });
      // /api/simulator/follow-gainers
    },
    dateSnapshot(value) {
      return Moment.unix(value).format('DD/MM/YYYY')
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.detail{
  font-size: 10px;
}
ul {
  padding-left: 0;
}

</style>
