<template>
  <div style="width:50%;height:50%" class="lds-grid">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</template>

<script>

export default {
  name: 'Spinner',
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@-webkit-keyframes lds-grid {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes lds-grid {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.lds-grid {
  position: relative;
}
.lds-grid div {
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation: lds-grid linear 1s infinite;
  animation: lds-grid linear 1s infinite;
}
.lds-grid div:nth-child(1),
.lds-grid div:nth-child(6),
.lds-grid div:nth-child(8) {
  -webkit-animation-delay: -0.666s;
  animation-delay: -0.666s;
}
.lds-grid div:nth-child(2),
.lds-grid div:nth-child(5),
.lds-grid div:nth-child(7) {
  -webkit-animation-delay: -0.333s;
  animation-delay: -0.333s;
}
.lds-grid div:nth-child(1),
.lds-grid div:nth-child(2),
.lds-grid div:nth-child(3) {
  top: 50px;
}
.lds-grid div:nth-child(4),
.lds-grid div:nth-child(5),
.lds-grid div:nth-child(6) {
  top: 100px;
}
.lds-grid div:nth-child(7),
.lds-grid div:nth-child(8),
.lds-grid div:nth-child(9) {
  top: 150px;
}
.lds-grid div:nth-child(1),
.lds-grid div:nth-child(4),
.lds-grid div:nth-child(7) {
  left: 50px;
}
.lds-grid div:nth-child(2),
.lds-grid div:nth-child(5),
.lds-grid div:nth-child(8) {
  left: 100px;
}
.lds-grid div:nth-child(3),
.lds-grid div:nth-child(6),
.lds-grid div:nth-child(9) {
  left: 150px;
}
.lds-grid div:nth-child(1),
.lds-grid div:nth-child(6),
.lds-grid div:nth-child(8) {
  background: #ffffff;
}
.lds-grid div:nth-child(2),
.lds-grid div:nth-child(4),
.lds-grid div:nth-child(9) {
  background: #ffffff;
}
.lds-grid div:nth-child(3),
.lds-grid div:nth-child(5),
.lds-grid div:nth-child(7) {
  background: #ffffff;
}
</style>
