<template>
    <div>
      <Menu></Menu>
      Stats<br />
      <vue-chart
            :columns="columns"
            :rows="rows"
            :options="options"
        ></vue-chart>
    </div>

</template>

<script>
import Menu from './Menu';
import Moment from 'moment';
import UserService from '../user-service';

export default {
  name: 'Stats',
  components: {Menu},
  data() {
    return {
      userService: UserService,
      columns: [],
      rows: [],
      options: {
        title: 'Performances',
        hAxis: {
            title: 'Dates',
        },
        
        width: 1400,
        height: 700,
        curveType: 'function'
      },
    };
  },
  created() {
    const currentDate = Moment().valueOf();
    const fromDate = Moment().add(-30, 'days').valueOf();
    this.$http.get(`/api/histories?start=${fromDate}&end=${currentDate}`)
    .then(response => response.json())
    .then((histories) => {
      const unique = [...new Set(histories.map(history => history.name))];
      const columns = unique.reduce((cols, name) => {
        cols.push({
          'type': 'number',
          'label': name,
        });
        return cols;
      }, [{
        'type': 'string',
        'label': 'date'
      }]);

      const uniqueDate = [...new Set(histories.sort((a,b) => a.timestamp - b.timestamp).map(history => history.timestamp))].filter((histo, index, array) => {
        return index % 10 === 0 || index === array.length - 1;
      });
      const rows = uniqueDate.reduce((result, timestamp) => {
        const date = new Date(timestamp);
        const d = Moment(date).format('DD/MM HH[h]')
        const row = [d];
        columns.slice(1).forEach((col) => {
          const histo = histories.find((h) => h.timestamp === timestamp && h.name === col.label);
          row.push(histo ? histo.currentBTC: 1);
        });
        result.push(row);
        return result;
      },[]);

      console.log(rows.length);
      this.columns = columns;
      this.rows = rows;
      
    });
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
