<template>
    <div>
      <Menu></Menu>
      <h2>Les cours sur les plateformes de trading</h2>
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th></th>
            <th v-for="market in markets">
              {{market}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="coin in coins">
            <th>{{coin}}</th>
            <td v-for="c in values[coin]">
              {{c.price}} <span class="diff" title="par rapport à Kraken">{{c.diff}}</span>
            </td>
          </tr>
          <tr v-if="values['BTC']">
            <th>BTC</th>
            <td v-for="c in values['BTC']">
              {{c.price}} <span class="diff" title="par rapport à Kraken">{{c.diff}}</span>
            </td>
          </tr>
        </tbody>
        </table>

      <ExchangeHistory currency="BTC"/>
      <ExchangeHistory currency="XMR"/>
      <ExchangeHistory currency="BCH"/>
      <ExchangeHistory currency="XRP"/>
      <ExchangeHistory currency="LTC"/>
    </div>
</template>

<script>
import Menu from './Menu';
import UserService from '../user-service';
import MarketService from '../market-service';
import ExchangeHistory from './Exchange-history';

export default {
  name: 'Stats',
  data() {
    return {
      tickers: [],
      markets: ['Kraken', 'BitTrex', 'Bitfinex', 'Poloniex', 'HitBTC', 'Binance'],
      coins: ['XMR', 'BCH', 'XRP', 'LTC', 'IOT', 'ADA'],
      values: [],
    };
  },
  components: {ExchangeHistory, Menu},
  created() {
    const result = {};
    this.coins.forEach((coin) => {
      result[coin] = [];
      this.getPrices(coin, 'BTC', this.markets).then((prices) => {
        prices.forEach(price => result[coin].push(price));
      });
    });
    result['BTC'] = [];
    this.getPrices('BTC', 'USD', this.markets).then((prices) => {
      prices.forEach(price => result['BTC'].push(price));
    });
    this.values = result;
  },

  methods: {
    getPrices(currency, tsym, markets){
      return this.$http.get(`/cryptocompare/api/data/coinsnapshot/?fsym=${currency}&tsym=${tsym}`)
      .then(response => response.json())
      .then((response) => {
        const result = Array(markets.length).fill({});
        const kraken = response.Data.Exchanges.find(e => e.MARKET == 'Kraken');
        const krakenPrice = kraken ? kraken.PRICE : 0;
        response.Data.Exchanges.forEach((exchange) => {
          const i = markets.findIndex(e => e === exchange.MARKET);
          if (i >= 0) {
            let diff = '';
            if (krakenPrice > 0 && exchange.MARKET !== 'Kraken') {
              diff = (exchange.PRICE >= krakenPrice ? '+' : '-') + ((Math.abs(exchange.PRICE - krakenPrice) / krakenPrice) * 100).toFixed(2) + '%';
            }
            result[i] = {
              price: Number(exchange.PRICE).toFixed(8),
              diff
            }
          }
        });
        return result;      
      });
    }
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.diff{
  color: darkgray;
}
</style>
