<template>
  <div v-if="member">
    <Menu></Menu>    
    <a href="http://api.bitcoin-trade-game.com/" target="_blank">http://api.bitcoin-trade-game.com/</a>
    <br />
    {{member.displayName}} pour accéder à l'API, voici votre clé et votre secret : <br />
    Clé : {{key}}<br />
    Secret : {{secret}}
  </div>
</template>

<script>
import Menu from './Menu';
import AccountService from '../account-service';

export default {
  name: 'UseApi',
  components: {Menu},
  data() {
    return {
      key: null,
      secret: null,
      account: null,
      member: null,
    };
  },
  created() {
    AccountService.getAccounts()
    .then((account) => {
      this.account = account;
    });

    AccountService.getMember()
    .then((member) => {
      this.member = member;
      this.key = member.key;
      this.secret = member.secret;
    });
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
