<template>
    <nav class="navbar fixed-top">
        <div class="col-4">
          {{userService.user.displayName}}
        </div>
        <div class="col-4">
          Disponible : {{account.BTC.toFixed(4)}} BTC
        </div>
        <div class="col-4">
          Montant estimé total : {{estimatedValue.toFixed(4)}} BTC

          {{ percent.toFixed(2)}}%
        </div>
        <div class="col-12">
            Dispo : <img src="../assets/satopig-green.png" width="20" v-for="index in nbPigs" :key="index"/>
        </div>
    </nav>
</template>

<script>
import UserService from '../user-service';

export default {
  name: 'Wallet-btc',
  props: ['account', 'markets'],
  data() {
    return {
      estimatedValue: 0,
      percent: 0,
      userService: UserService,
    };
  },
  created() {
    this.estimatedValue = this.account.wallets
        .filter(w => w.quantity > 0)
        .reduce((agregator, wallet) => {
          const market = this.markets.find(m => wallet.currency === m.MarketName.substr(4));
          if (!market) {
            return agregator;
          }
          return agregator + (wallet.quantity * market.Last);
        }, 0) + this.account.BTC;
    const gap = this.estimatedValue - this.account.initialBTC;
    this.percent = (gap / this.account.initialBTC) * 100;
  },
  computed: {
    nbPigs() {
      return Math.round(this.account.BTC * 100);
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.navbar{
  max-height: 100px;
  background-color: whitesmoke;
  border-bottom: 1px solid grey;
}
</style>
