<template>
  <div id="app" class="container-fluid">
    <router-view></router-view>
    <nav class="navbar fixed-bottom navbar-light bg-light bottom-nav">
      <span>
        <i class="fa fa-registered" aria-hidden="true"></i> Bitcoin Trade Game 2018
      </span>
    </nav>
  </div>
</template>

<script>

export default {
  name: 'app',
};
</script>

<style>
html{
  font-size: 100%;
}
html, body{
  height: 100%;
}
#app {
  font-family: 'Lucida Console', Monaco, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  padding-bottom: 50px;
}

.btn-link{
  color: #fe9580;
}
.btn-link:hover{
  color: #ff6d50;
  text-decoration: none;
}
.bottom-nav{
  font-size: 0.8rem;
}
.navigation a{
  margin-left: 40px;
}
</style>
